#business-popup {
    display: none;
    box-shadow: 0 0 4px #ccc;
    background-color: #fff;
    border-radius: 7px;
    margin: 0 auto;
    padding: 0 10px;
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 15px;
    left: 0;
    width: 600px;
    z-index: 1010;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        cursor: pointer;
        color: lighten(#000, 40%);
        &:hover {
            color: lighten(#000, 20%);
        }
    }

    .business-info {
        padding: 10px;
    }

    .content {
        position: absolute;
        top: 90px;
        right: 0;
        bottom: 10px;
        left: 0;
        border-top: 1px solid #f1f1f1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
    }

    #post-review {
        display: none;
    }
    #login-form {
        display: block;
    }

    &.is-user {
        #post-review {
            display: block;
        }
        #login-form {
            display: none;
        }
    }

    &.is-active {
        display: block;
    }
}

#login-form, #post-review {
    background-color: #f1f1f1;
    padding: 10px;

    .spinner-header {
        font-size: 0.75em;
        margin-bottom: 10px;
    }

    form {
        margin: 0;
        padding: 0;
    }

    textarea {
        resize: none;
    }

    .buttons {
        input {
            margin-right: 10px;
        }
    }
}
