#business-list {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid #f1f1f1;

    .business {
        padding: 10px;
        border-bottom: 1px solid #f1f1f1;
        cursor: pointer;

        &:hover {
            background-color: lightyellow;

            .name {
                text-decoration: underline;
            }
        }
    }
}

.business-info {
    .name {
        font-weight: 700;
    }

    .distance, .phone, .tags {
        font-size: 0.75em;
    }

    .rating {
        height: 10px;
        background: transparent url('/images/star.png') top left repeat-x;
        background-size: 10px 10px;
    }
}
