html, body {
    height: 100%;
    width: 100%;
    position: relative;
}

@import 'business-list';
@import 'business-popup';
@import 'map-wrapper';
@import 'overlay';
@import 'review-list';
@import 'search';
@import 'sidebar';
@import 'spinner-header';
@import 'warning';
