#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s linear;
    pointer-events: none;

    &.is-active {
        opacity: 0.3;
        pointer-events: auto;
    }
}
