#review-list {
    .review {
        position: relative;
        padding: 10px;
        border-top: 1px solid #f1f1f1;

        .trash {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 0.75em;
            cursor: pointer;
            color: lighten(#000, 40%);
            &:hover {
                color: lighten(#000, 20%);
            }
        }

        &.is-user .trash {
            display: block;
        }

        .username {
            font-weight: 700;
            height: 30px;
            line-height: 30px;
        }

        .created-at {
            font-size: 0.75em;
        }

        .description {
            margin-top: 10px;
            p {
                margin-bottom: 10px;
            }
        }
    }
}
