#search {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    z-index: 200;

    #search-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        padding: 10px;
        opacity: 0.3;
        cursor: pointer;
        transition: opacity 0.4s linear;
    }

    &:hover #search-icon {
        opacity: 0.9;
    }

    #search-bar {
        display: none;
        margin: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 3px grey;
        width: 400px;
        height: 20px;
        padding: 10px 15px;

        form {
            margin: 0;
            padding: 0;
        }

        input {
            display: block;
            border: 0;
            margin: 0;
            padding: 0;
            height: 20px;
            width: 400px;
            line-height: 20px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }

    &.is-active {
        width: 450px;

        #search-icon {
            display: none;
        }
        #search-bar {
            display: block;
        }
    }
}
