.spinner-header {
    .spinner {
        display: none;
        height: 30px;
        width: 30px;
        background: transparent url('/images/spinner.gif') center center no-repeat;
        background-size: 15px 15px;
    }

    .title {
        line-height: 30px;
        margin-left: 10px;
    }

    &.is-active {
        .spinner {
            display: block;
        }

        .title {
            display: none;
        }
    }
}
