#warning {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 40px;
    width: 250px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 2px grey;
    background-color: #fff;
    line-height: 20px;
    text-align: center;
    pointer-events: none;
    transition: opacity 0.6s linear;
    opacity: 0;
    z-index: 99;

    &.is-active {
        opacity: 1;
    }
}
