extends layout

block content
    #search
        img#search-icon(src="/images/search.png" alt="")
        #search-bar
            form
                input(placeholder="Search Weareediblepeople")
    #map-wrapper
        #map
        #warning
    #sidebar.is-active
        .spinner-header
            .spinner
            .title
        #business-list
    #business-popup
        .close &#10006;
        .business-info
            .name
            .phone
            .rating
            .tags
        .content
            #login-form
                .spinner-header
                    .spinner
                    .title You must be signed in to post a review.
                form
                    .fields.row
                        .field.six.columns
                            input.u-full-width(type="text" name="username" placeholder="Username")
                        .field.six.columns
                            input.u-full-width(type="password" name="password" placeholder="Password")
                    .buttons
                        input.button-primary.button-login(type="button" value="Login")
                        input.button-signup(type="button" value="Signup")
            #post-review
                .spinner-header
                    .spinner
                    .title Post a review.
                form
                    .fields.row
                        .field.twelve.columns
                            textarea.u-full-width(name="content")
                    .buttons
                        input.button-primary.button-post(type="button" value="Post")
                        input.button-logout(type="button" value="Logout")
            .review-count.spinner-header
                .spinner
                .title 0 reviews
            #review-list
    #overlay
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + MAPS_API + "&libraries=geometry&callback=Weareediblepeople.MapWrapper.initMap")
