doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jwt-decode.min.js')
    script(src='/javascripts/main.js')
  body
    block content
